.diet {
  padding-top: 1em;
}

.day {
  /*display: inline;*/
  /*float: left;*/
  margin: 0.5em;
  padding: 1em;
  background-color: #b1c1ff;
  border-radius: 1em;
  height: auto;
}

.day-title {
  font-weight: bold;
}

.meal {
  padding-left: .5em;
}

.recipe {
  padding-left: .5em;
}

.container {
  max-width: none;
}

.clear {
  clear: both;
}
