.diet {
  padding-top: 1em;
}

.day {
  margin: 0.5em;
  padding: 1em;
  background-color: #b1c1ff;
  border-radius: 1em;
  height: auto;
  font-size: 11px;
}

.day-title {
  font-weight: bold;
}

.meal {
  padding-left: .5em;
}

.recipe {
  padding-left: .5em;
}

.container {
  max-width: none;
}

.clear {
  clear: both;
}

.out_of_range {
  color: red;
}
