@{
    ViewBag.Title = "Home Page";
}

<H2>Kreator diet</H2>

<p>Witaj!</p>
<p>Dziękuję za wzięcie udziału w badaniu. Strona zawiera generator diet. Zostaniesz poproszony/a o podanie preferencji kulinarnych oraz informacji potrzebnych do obliczenia zapotrzebowania na 
  składniki odżywcze. Dane te nie są w żaden sposób zapisywane.</p>

<p>Generator ułoży dla Ciebie zbiór diet, z którego wybierze kilka używając różnych metod.</p>

<p>Każda z diet opisana jest czterema kryteriami. Jak pewnie zauważysz, koszt oraz czas przygotowania nie oddają prawdziwych spodziewanych wartości, gdyż zostały przypisane posiłkom losowo. 
  Używaj tych kryteriów w celu porównania z innymi dietami. Wskaźnik preferencji mówi o tym, jak bardzo dieta pasuje do podanych upodobań kulinarnych. Im miższa wartość, tym podobieństwo jest większe. 
  Ostatnim wskaźnikiem jest zgodność z normami. Jest to suma wykroczeń poza normy makroskładników oraz liczby kalorii na każdy z pięciu posiłków. Wartość zero oznacza zgodność z normami.</p>

<p>Po wygenerowaniu diet wypełnij proszę ankietę. Zawiera ona pytania dotyczące wrażeń z korzystania z aplikacji</p>

